@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Archivo";
  src: url("../../public/fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("../../public/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("../../public/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "LatoReg";
  src: url("../../public/fonts/Lato-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
}
